:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: rgb(29, 127, 225);
  --text-secondary: rgb(255, 255, 255);
  --bg-primary: rgb(0, 77, 128);
  --bg-secondary: rgb(242, 242, 242);
  --transition-speed: 600ms;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.k2d-bold {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background:#1e1e24;
}
body::-webkit-scrollbar-thumb {
background: #2400d7
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}
