:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: rgb(29, 127, 225);
  --text-secondary: rgb(255, 255, 255);
  --bg-primary: rgb(0, 77, 128);
  --bg-secondary: rgb(242, 242, 242);
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background:#1e1e24;
}
body::-webkit-scrollbar-thumb {
background: #2400d7
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
